:root {
  --bg-color: #000;
  --glow-color: rgb(255, 0, 140);
}

body {
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;
  fill: var(--bg-color);
}

/* #star {
  fill: white;
  stroke-width: 2px;
  stroke: rgb(255, 0, 25);
} */

.star {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glow {
  position: absolute;
  border: 1px solid white;
  box-shadow: 0rem 0rem 2rem 0.5rem var(--glow-color);
}

@keyframes rotate1 {
  0% {
    transform: translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 200px) scale(0.7) rotateX(-222deg) rotateY(256deg)
      rotateZ(300deg);
    opacity: 0;
  }
}

@keyframes rotate2 {
  0% {
    transform: translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 200px) scale(0.7) rotateX(359deg) rotateY(-328deg)
      rotateZ(563deg);
    opacity: 0;
  }
}

@keyframes rotate3 {
  0% {
    transform: translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 200px) scale(0.7) rotateX(407deg) rotateY(267deg)
      rotateZ(-497deg);
    opacity: 0;
  }
}
